<h4><a href="/movies/<%= movie.id %>"><%= movie.title %></a></h4>
<div>Runtime: <%= movie.duration %> minutes</div>
<div>Genre: <%= movie.genre %></div>
<div>Description: <%= movie.description %></div>
<ul><h4>Cast</h4>
<% if movie.actors %>
  <% movie.actors.each do |actor| %>
    <li><%= actor["name"] %></li>
  <% end %>
<% end %>  
</ul>